html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2344&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  list-style-type: none;
  
  
}

.form-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 234, 0.5);
}

.input-container {
  margin-bottom: 10px;
}

label {
  font-size: 18px;
}

input[type='text'] {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

input[type='text']:focus {
  outline: none;
  border-color: #00ffea;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00ffea;
  border: none;
  border-radius: 5px;
  color: #111;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #00ccae;
}
.header-button {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: inline; 
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.1); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1); 
  color: #000; 
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.header-button:hover {
  background-color: #00ccae; 
  color: #fff; 
}
.addadress , .editadress {
  text-align: center; 
  margin: 0 auto; 
  width: 300px; 
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.input-container input[type='text'] {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.input-container input[type='text']:focus {
  outline: none;
  border-color: #00ffea;
}
.button-list {
  color: #000;
  margin-right: 50px;
  list-style-type: none;
  padding: 10;
  margin: 10;
}

.button-list {
  text-decoration: none; 
}